@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  @apply mt-1 text-gray-500 block w-full pl-3 pr-2 py-2 text-base border border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-600 sm:text-sm rounded-md disabled:bg-gray-100;
}

select {
  @apply mt-1 block w-full pl-3 pr-10 py-2 text-base text-gray-500 border border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-600 sm:text-sm rounded-md disabled:bg-gray-100;
}

strong {
  @apply block text-gray-700;
}

.bg-tristao-trading {
  @apply bg-[#72A83F];
}

.botao {
  @apply bg-green-800 text-white font-semibold text-sm px-4 py-2 rounded-md hover:bg-green-600 cursor-pointer transition-all duration-300 disabled:bg-green-300 disabled:cursor-not-allowed;
}

.button-pagination {
  @apply px-3 py-2 text-gray-500 text-sm font-semibold rounded-md border bg-white hover:bg-gray-50 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
}

.texto {
  @apply text-gray-500;
}

.grupotristao {
  @apply min-w-full divide-y divide-green-200;

  thead {
    @apply bg-green-700;
  }

  thead th {
    @apply px-6 py-3 text-left text-xs font-bold text-white uppercase tracking-wider;
  }

  tbody {
    @apply bg-white divide-y divide-gray-200;
  }

  tbody tr {
    @apply hover:bg-green-50;
  }

  tbody td {
    @apply px-6 py-4 whitespace-nowrap text-sm text-gray-500;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}